.container {
  /* position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translate(-50%, -50%); */
  width: 100%;
  /* height: 80vh; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.login-box {
  padding: 2rem;
  border: 2px solid #333;
  border-radius: 25px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.signup {
  animation-name: sign;
  animation-duration: 0.25s;
}
.signin {
  animation-name: sign2;
  animation-duration: 0.25s;
}
.login-box input {
  background-color: lightgray;
  padding: 0.5rem 1rem;
  margin: 1rem;
  border: 0;
  border-bottom: #333 solid 2px;
}
.login-box button {
  padding: 0.5rem 1rem;
  border: 0;
  background-color: #333;
  color: white;
  margin: 1rem;
  border-radius: 15px;
}
.login-box button:focus {
  outline: none;
}

.container .login-group {
  display: flex;
  flex-direction: column;
}
.login-group form {
  display: flex;
  flex-direction: column;
}

@keyframes sign {
  0% {
    transform: rotate3d(0, 1, 0, 0deg);
  }
  50% {
    transform: rotate3d(0, 1, 0, 90deg);
  }
  100% {
    transform: rotate3d(0, 1, 0, 180deg);
  }
}
@keyframes sign2 {
  0% {
    transform: rotate3d(0, 1, 0, 0deg);
  }
  50% {
    transform: rotate3d(0, 1, 0, 90deg);
  }
  100% {
    transform: rotate3d(0, 1, 0, 180deg);
  }
}
