.container-auth {
  display: flex;
  overflow-x: hidden;
}

.image {
  flex: 0 0 70%;
}

.login-box {
  flex: 0 0 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  padding: 2rem;
  border: 2px solid #333;
}
.login-box h1 {
  font-size: 2.5rem;
}
.login-box h2 {
  margin: 1rem 0;
}
.login-box p {
  margin: 1rem 0;
}
.signup {
  animation-name: sign;
  animation-duration: 0.25s;
}
.signin {
  animation-name: sign2;
  animation-duration: 0.25s;
}
.login-box label {
  margin-top: 1rem;
}
.login-box input {
  background-color: lightgray;
  padding: 0.5rem 0rem;
  border: 0;
  border-bottom: #333 solid 2px;
}
.login-box button {
  margin-top: 1rem;
  padding: 1rem 1rem;
  border: 0;
  background-color: #333;
  color: white;
  border-radius: 15px;
}

.login-box button:focus {
  outline: none;
}

.container .login-group {
  display: flex;
  flex-direction: column;
}
.login-group form {
  display: flex;
  flex-direction: column;
}

@keyframes sign {
  0% {
    transform: rotate3d(0, 1, 0, 0deg);
  }
  50% {
    transform: rotate3d(0, 1, 0, 90deg);
  }
  100% {
    transform: rotate3d(0, 1, 0, 180deg);
  }
}
@keyframes sign2 {
  0% {
    transform: rotate3d(0, 1, 0, 0deg);
  }
  50% {
    transform: rotate3d(0, 1, 0, 90deg);
  }
  100% {
    transform: rotate3d(0, 1, 0, 180deg);
  }
}

@media (max-width: 1500px) {
  .image {
    flex: 0 0 60%;
  }

  .login-box {
    flex: 0 0 40%;
  }
}
@media (max-width: 1200px) {
  .image {
    flex: 0 0 55%;
  }

  .login-box {
    flex: 0 0 45%;
  }
}
@media (max-width: 930px) {
  .image {
    flex: 0 0 50%;
  }

  .login-box {
    flex: 0 0 50%;
  }
}
@media (max-width: 800px) {
  .image {
    flex: 0 0 30%;
  }

  .login-box {
    flex: 0 0 70%;
  }
}
@media (max-width: 600px) {
  .image {
    flex: 0 0 00%;
    display: none;
  }

  .login-box {
    flex: 0 0 100%;
  }
}
