a {
  text-decoration: none;
  color: black;
}

.Container {
  width: 280px;
  height: 250px;
}
.Container img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
}
.Card {
  cursor: pointer;
  position: relative;
}
.Container:hover img {
  opacity: 0.5;
}
.PlayBTN {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
  opacity: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #eee;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Icon {
  width: 70%;
  height: 70%;
  clip-path: polygon(0 0, 100% 50%, 0 100%, 0 50%);
  background-color: #333;
}
.Container:hover .PlayBTN {
  opacity: 1;
}

.Content {
  border: 1px solid #ccc;
  padding: 1rem;
}
.Title {
  font-size: 14px;
  margin-bottom: 0.5rem;
}
.Author {
  font-size: 13px;
  margin-bottom: 0.5rem;
}

.ProgressBar {
  margin-bottom: 1rem;
  height: 20px;
  padding: 5px;
  background: #ccc;
}
.ProgressBar > span {
  display: block;
  height: 100%;
  background-color: rgb(18, 179, 18);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

@media (max-width: 1281px) {
  .Container {
    width: 220px;
  }
}
@media (max-width: 769px) {
  .Container {
    width: 210px;
  }
}
